spring:
  application:
    name: E-commerce Platform

  datasource:
    url:
    username:
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  data:
    redis:
      repositories:
        enabled: false

server:
  port:
  servlet:
    context-path: /maitraStore

security:
  jwt:
    secret-key:

razorpay:
  key-id: "YOUR_TEST_KEY"
  key-secret: "YOUR_TEST_SECRET"

logging:
  level:
    root: INFO
    com.DhrubaStudio.E_commercePlatform: DEBUG
    org.springframework.security: TRACE
    org.springframework.security.web: TRACE
    org.springframework.web: DEBUG
    org.springframework.boot.autoconfigure: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"